.filesview {
    width: 100%;
    height: 92vh;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 20px 0 0 0;
    margin-top: 1vh;
    padding: 10px;
}
.filesview::-webkit-scrollbar {
    width: 6px;
}
.filesview::-webkit-scrollbar-track {
    background: rgb(237, 249, 252) s;
}
.filesview::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82);
    border-radius: 12px;
}

.filesview::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 82, 82);
}
.filesview_row {
    height: 250px;
    display: flex;
    align-items: center;
    width: 100%;
}
.filesview_titles {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    color: rgb(85, 78, 78);
    border-top: 1px solid rgb(82, 82, 82);
    border-bottom: 1px solid rgb(82, 82, 82);
}
.filesview_titles > p {
    margin: 0;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 550;
}
.filesview_titles > .name {
    margin-right: auto;
    width: 40%;
    justify-content: start;
    padding-left: 50px;
}
.filesview_noFiles {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filesview_noFiles > span {
    display: block;
    font-size: 1.1rem;
    font-weight: 450;
    margin-bottom: 5px;
}
