.fileCard {
    height: 190px;
    width: 240px;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fileCard_top {
    height: 70%;
    border-bottom: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fileCard_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30%;
}
.fileCard_bottom > p {
    overflow: hidden;
    white-space: nowrap;
}
