.sidebarItem {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-radius: 0 100px 100px 0;
}
.sidebarItem:hover {
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
.sidebarItem > .sidebarItem_arrow {
    width: 25px;
    margin-left: 10px;
}
.sidebarItem > .sidebarItem_main {
    display: flex;
}
.sidebarItem > .sidebarItem_main > p {
    margin: 0;
    margin-left: 8px;
    display: flex;
    align-items: center;
}
